<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="MobileWebSuite">

    <test name="RunSpecificMethods">

        <classes>
            <class name="tests.SearchTest">

                <methods>
                    <include name="Test1"/>
                    <include name="Test2"/>
                </methods>

            </class>
        </classes>

    </test>

</suite>
